{% extends "layout.html" %}
{% block title %}Welcome{% endblock %}

{% block header %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Athletics Competition Forecasting</h1>
  <p class="lead">A college project using machine learning to predict the outcome of athletics events using thepowerof10 database.</p>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4 offset-md-4">
  <a class="btn btn-primary btn-block" href="{{ url_for('forecast')}}" role="button">Go to forecast</a>
  </div>
</div>
{% endblock %}
